.error-page {
  margin: 0 auto;
}

.error-page__title {
  font-size: 5rem;
  font-weight: bold;
  color: crimson;
  text-align: center;
  margin-bottom: 2rem;
}

.error-page__message {
  font-size: 1.8rem;
  color: white;
}
